body {
  font-family: 'DM Sans', sans-serif;
  min-height: 100vh;
  position: relative;
}

.blob-container {
  min-height: 100%;
  position: absolute;
  top: 0;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: 70% auto;
}

.form-label {
  font-weight: bold;
  margin-left: 1rem;
}

.form-control {
  border-radius: 2.5rem !important;
  width: 20rem;
  line-height: 2;
  padding-left: 3rem;
  background: transparent;
  box-shadow: 0 2px 6px rgba(19, 18, 66, 0.07);
}

.input-group-text {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 0.5rem;
  height: 100%;
  z-index: 4;
}

.btn {
  font-weight: 600 !important;
}

.btn-lg {
  border-radius: 2.5rem;
}

.btn-primary {
  box-shadow: 0 3px 12px rgba(58, 115, 255, 0.18);
  background-color: #369FFF;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #1785e8;
}

.btn-primary:focus, .btn-primary:active:focus {
  box-shadow: 0 2px 6px rgba(19, 18, 66, 0.07), 0 0 0 1px #dcdcff;
}

.btn-outline-primary {
  background-color: transparent;
  color: #1785e8;
  border-color: #1785e8;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus, .btn-outline-primary:active:focus {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #ebf8ff;
  color: #1785e8;
}

.btn-info {
  background-color: transparent;
  color: #1785e8;
  width: fit-content;
}

.btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info:active:focus {
  background-color: #f6f9fd;
  color: #1785e8;
}

.btn-light {
  box-shadow: 0 3px 12px rgba(102, 107, 118, 0.18);
  background-color: #f6f9fd;
}

.btn-light:hover, .btn-light:active, .btn-light:focus, .btn-light:active:focus {
  background-color: #E2E8F0;
}